.card-type {
  color: var(--Grayish-Blue);
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card-type.center {
  color: white;
}
.card-price {
  font-size: 6.5rem;
  margin: 3rem 0rem;
  color: var(--Dark-Grayish-Blue);
}
.card-price.center {
  color: white;
}
.card-features {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.card-features__items {
  border-top: 1px solid var(--Light-Grayish-Blue);
  width: 80%;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: var(--Grayish-Blue);
}
.center.card-features__items {
  color: white;
}
li:last-child {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}
.card-btn {
  margin-top: 3rem;
  width: 80%;
  height: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
.card-btn.center {
  background-image: none;
  background-color: white;
  color: var(--Purple);
}

.card-1.center {
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  box-shadow: 0 0 2rem rgba(152, 152, 152, 0.416);
}
