.App {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Light-Grayish-Blue);
  position: relative;
}
.container {
  text-align: center;
  display: grid;
  width: 70%;
  height: 85%;
  grid-template-rows: 3rem 6rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  align-items: center;
  z-index: 2;
}
.h1-title {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grayish-Blue);
  font-size: 2.5rem;
}
.toggle-switch {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2rem rgba(152, 152, 152, 0.416);
}
.card-1 {
  grid-column: 2/3;
  grid-row: 3/4;
  border-radius: 1.2rem;
  height: 100%;

  /* background-image: linear-gradient(
    to bottom right hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  ); */
}
.card-3 {
  grid-column: 3/4;
  grid-row: 3/4;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  background-color: white;
  height: 90%;
}
.card-2 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: white;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  height: 90%;
}
.top-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 1150px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 1010px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 875px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 6rem repeat(3, min-content);
    width: 60%;
    margin-top: 4rem;
    grid-row-gap: 3rem;
    padding-bottom: 4rem;
  }
  .h1-title {
    grid-column: 1/2;
  }
  .toggle-switch {
    grid-column: 1/2;
  }
  .card-2 {
    /*basic*/
    grid-row: 3/4;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }
  .card-1 {
    /*professional*/
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .card-3 {
    /*master*/
    grid-row: 5/6;
    grid-column: 1/2;

    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
  }
  .App {
    height: 100%;
  }
  .card {
    height: 100%;
    padding: 4rem 0;
  }
}
@media (max-width: 515px) {
  .container {
    width: 75%;
  }
}
